@tailwind base;
@tailwind components;
@tailwind utilities;

.text-issue {
    color: #171717 !important;
}

.slider-setting {
    display: flex !important;
    align-items: center;
    gap: 50px;
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DADCE0; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovered */
  }